.modal {
	z-index: 99999999;
}

.modal_inner {
	border-radius: 20px 20px 0px 0px;
}

.modal_animation {
	animation-name: ModalAnimation;
	animation-duration: 200ms;
	animation-delay: 500ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes ModalAnimation {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.5);
	}
}
